{% extends 'base.html' %}

{% block title %}BioGraphy Page{% endblock title %}

{% block content %}
<h2>Enter The Biograghy Details</h2>
<form class="row g-3" method="post">
    {% csrf_token %}
    <div class="col-md-6">
        <label for="user" class="form-label">User</label>
        {{form.user}}
    </div>
    <div class="col-md-6">
        <label for="biography" class="form-label">Biography</label>
        {{form.biography}}
    </div>
    <div class="col-md-6">
        <label for="tel" class="form-label">Tel</label>
        {{form.tel}}
    </div>
    <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        {{form.email}}
    </div>
    <div class="col-12">
        <label for="Skills_and_expertise" class="form-label">Skills_and_expertise</label>
        {{form.skills_and_expertise}}
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock content %}