{% extends 'base.html' %}
{% block title %}Biography{% endblock title %}
{% block content %}
    <h3>Biography</h3>
        {% for biography in user_biographies %}
            <div class="card mb-2" style="border: none;">
                <div class="row g-1">
                    <div class="col-md-3">
                        {% if biography.profile_image %}
                            <img src="{{ biography.profile_image.url }}" class="img-fluid rounded-start"
                                 alt="Profile Image">
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <h5 class="card-title">Biography Details:</h5>
                            <ul class="list-unstyled">
                                <li><strong>First Name:</strong> {{ biography.first_name }}</li>
                                <li><strong>Last Name:</strong> {{ biography.last_name }}</li>
                                <li><strong>University Designation:</strong> {{ biography.university_designation }}</li>
                                <li><strong>Role:</strong> {{ biography.role }}</li>
                                <li><strong>Other Designation:</strong> {{ biography.other_designation }}</li>
                                <li><strong>Phone Number:</strong> {{ biography.phone_number }}</li>
                                <li><strong>Fax:</strong> {{ biography.fax }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for biography in user_biographies %}
            <div class="mb-3">
                <h6 class="card-text"><strong>Biography:</strong></h6>
                <p class="card-text">{{ biography.biography }}</p>
            </div>
            <div>
                <h6 class="card-text"><strong>Skills and Expertise:</strong></h6>
                <p class="card-text">{{ biography.skills_and_expertise }}</p>
            </div>
        {% endfor %}
{% endblock content %}
